
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admit-card{
    background-color: rgb(38, 141, 38);
    color: white;
    width: 100% !important;
    padding-top: 20px;

}

.admit-card-cont h1,h3{
    display: flex;
    justify-content: center;
}

.admit-card-cont img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.text-area {
   padding-top: 30px !important;
   /* padding-left: 20px !important; */
}
.text-area1 {
    padding-top: 10px !important;
    /* padding-left: 20px !important; */

 }


.text-area label{
    font-size: 18px;
}

.text-area input{
    font-size: 18px;
    background-color:  rgb(38, 141, 38);
    color: rgb(255, 255, 255);
    border: rgb(38, 141, 38);
}

.text-area1 label{
    font-size: 18px;
}

.text-area1 input{
    font-size: 18px;
    background-color:  rgb(38, 141, 38);
    color: rgb(255, 255, 255);
    border: rgb(38, 141, 38);
}

 /* #stname{
    margin-left: 0px !important;
}

#classname{
    padding-left: 0px !important;
} */


::placeholder {
    color: #c0b1b1;
  }


  .sign{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  .area{
    width: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-primary{
    position: relative;
    top: 620px;
    right: 180px;
  }

  @media screen and (max-width: 700px) {

    .area{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
     
  }